<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.30" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net461" />
  <package id="SharpCompress" version="0.29.0" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="squirrel.windows" version="2.0.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
</packages>